.navbar {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing) var(--layout-spacing);
  background-color: var(--light-blue);
}

.logo {
  width: 30vw;
  height: auto;
  max-width: 200px;
}
